Zomato data analysis project

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

:

In [ ]:
dataframe = pd.read_csv("Zomato data.csv")

In [ ]:
dataframe

In [ ]:
def handleRate(value):
    value=str(value).split('/')
    value=value[0];
    return float(value)

dataframe['rate']=dataframe['rate'].apply(handleRate)
print(dataframe.head())

In [ ]:
dataframe.info()

.................................................................................

Types of resturant

................................................................................

In [ ]:
dataframe.head()

In [ ]:
sns.countplot(x=dataframe['listed_in(type)'])
plt.xlabel("type of resturant")

conclustion - majority of the restaurants falls in dining category

In [ ]:
dataframe.head()

In [ ]:
grouped_data = dataframe.groupby('listed_in(type)')['votes'].sum()
result = pd.DataFrame({'votes': grouped_data})
plt.plot(result, c="green", marker="o")
plt.xlabel("Types of restaurant", c="red", size=20)
plt.ylabel("Votes", c="red", size=20)

.................................................................................

Conclusion - dinning resturants has recived maximum votes

.................................................................................

In [ ]:
dataframe.head()

In [ ]:
plt.hist(dataframe['rate'],bins=5)
plt.title("Rating Distribution")
plt.show()

Conclusion - The majority resturaunt recevied rating from 3.5 to 4

.................................................................................

Average order spending by couples

.................................................................................

In [ ]:
dataframe.head()

In [ ]:
couple_data = dataframe['approx_cost(for two people)']
sns.countplot(x=couple_data)

conclusion - the majority of couples prefrerr resturants with an approximate cost of 300 rupees

.................................................................................

Which mode recives maximum rating

.................................................................................

In [ ]:
dataframe.head()

In [ ]:
plt.figure(figsize = (6,6))
sns.boxplot(x = 'online_order', y = 'rate', data = dataframe)

.................................................................................

Conclusion - offline order received lower rating in comparison to online order

.................................................................................

In [ ]:
dataframe.head()

In [ ]:
pivot_table = dataframe.pivot_table(index= 'listed_in(type)', columns='online_order', aggfunc='size', fill_value=0)
sns.heatmap(pivot_table, annot=True, cmap="YlGnBu", fmt='d')
plt.title("Heatmap")
plt.xlabel("Online Order")
plt.ylabel("Listed In (Type)")
plt.show()

CONCLUSION: Dining restaurants primarily accept offline orders, whereas cafes primarily receive online orders. This suggests that clients prefres orders in person at restaurants, but prefer online ordering at cafes.